<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Autores</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <h1>Lista de Autores</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterar sobre la lista de autores -->
                <tr th:each="autor : ${autores}">
                    <td th:text="${autor.id}"></td>
                    <td th:text="${autor.nombre}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
