<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
    
    <title>Recetas</title>
    
    <link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel= "stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<header th:replace="~{layouts/header :: header}"></header>

<a>Lista de Recetas</a>
	  <div class="col-md-4">
	      <div class="card-body">
						      
	<h5 class="card-title">Receta:</h5>
							   <p class="card-text" >Id:</p>
						       <p class="card-text" >Nombre:</p> 
						       <p class="card-text" >Categoría: </p>						        
						       <p class="card-text" >Ingredientes:</p>
						       <p class="card-text" >Preparación:</p>   
	  </div> 
	       </div>

      <div class="col-md-4">
		   <div class="card-body">
    					
						        <h5 class="card-title" th:text= "${rec.id}"></h5>
						        <p class="card-text" th:text= "${rec.nombre}"></p>
						        <p class="card-text" th:text= "${rec.categoria}"></p>
						        <p class="card-text" th:text= "${rec.ingredientes}"></p>
						        <p class="card-text" th:text= "${rec.preparacion}"></p>
						              
						      </div>
						    </div>


<footer th:replace="~{layouts/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>