<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
    
    <title>Recetas</title>
    
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<header th:replace="~{layouts/header :: header}"></header>

<h1>Lista de Recetas</h1>

<div class="col-md-4">
    <div class="card-body">
        <h5 class="card-title">Receta:</h5>
        <p class="card-text">Id: <span th:text="${rec.id}"></span></p>
        <p class="card-text">Nombre: <span th:text="${rec.nombre}"></span></p>
        <p class="card-text">Categoría: <span th:text="${rec.categoria}"></span></p>
        <p class="card-text">Ingredientes: <span th:text="${rec.ingredientes}"></span></p>
        <p class="card-text">Preparación: <span th:text="${rec.preparacion}"></span></p>
    </div> 
</div>

<footer th:replace="~{layouts/footer :: footer}"></footer>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
